:root {
  --darkPurple: #231942;
  --purple: #333091;
  --green: #3cd070;
  --gray: #9a9696;
  font-size: 14px;
}

body{
  font-family: 'Space Mono', monospace;
  background-image: url("https://tinyurl.com/yypwu754");
  color: white;
}

header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.navbar-menu li{ 
  color: white;
  list-style: none;
  padding: 10px;
  word-spacing: -4.2px;
  font-size: 1.2rem;
  padding-right:  40px;
}

.navbar-logo {
  width: auto;
  height: 7rem;
}

/* Text-grids */
.button {
  background-color: grey;
  border: solid-black;
  padding: 1em 1.5em;
  font-family: 'Space Mono', monospace;
  font-size: 1em;
}

.bloc-container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(240px, 800px));
  grid-gap: 30px;
}

.bloc {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #333091;
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes slideIn {
  0% {
    transform: translate(2000px, 0px);
  }

  50% {
    transform: translate(2000px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.bloc:hover {
  transform: scale(1.02);
}

.bloc2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #333091;
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-style: italic;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.bloc2:hover {
  transform: scale(1.02);
}

.bloc3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #333091;
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-style: italic;
  animation-name: slideIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.bloc3:hover {
  transform: scale(1.02);
}

/* --- Intro section ---*/
.intro {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

/*---Ambassadors---*/
.button {
  align-items: center;
  background-color: grey;
  border: solid-black;
  padding: 1em 1.5em;
  font-family: 'Space Mono', monospace;
  font-size: 1em;
}

.grid-container {
  align-items: center;
  display: grid;
}

@media screen and (min-width: 600px) {
  .grid-container {
    justify-content: center;
    margin-top: 60px;
    grid-template-columns: repeat(3, 500px);
    grid-gap: 150 px;
  }
}

.SecretaryGeneral {
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  height: 480px;
  width: 370px;
  height: 470px;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes slideIn {
  0% {
    transform: translate(2000px, 0px);
  }

  50% {
    transform: translate(2000px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.SecretaryGeneral:hover {
  transform: scale(1.05);
}

.SecretarOFA {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 370px;
  height: 470px;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.SecretarOFA:hover {
  transform: scale(1.05);
}

.SecretaryOPT {
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 370px;
  height: 470px;
  animation-name: slideIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.SecretaryOPT:hover {
  transform: scale(1.05);
}

.text {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 00px;
  border-radius: 5px;
  text-decoration-color: white;
  background-color: #333091;
  opacity: 0.70;
  font-style: italic;
  animation-name: slideIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

/* new responsive menu */
#sidebarMenu {
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 1;
  background-color: var(--purple);
  position: fixed;
  display: none;
}

.sidebarMenu-contents {
  position: relative;
  padding: 10px 20px;
}

#sidebarMenu .navbar-menu {
  flex-wrap: wrap;
  padding-left: 0;
  min-width: 161px;
  flex-direction: column;
}

.sidebarMenu-contents .navbar-menu li a {
  padding: 8px 10px;
  color: white;
  text-decoration: none;
}

.sidebarMenu-contents .navbar-menu li:hover {
  background-color: #5d5d5d;
}

.sidebarMenu-open {
  display: block !important;
}

#toggle-button {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  height: fit-content;
  padding: 6px;
  visibility: hidden;
  position: absolute;
  right: 7px;
  z-index: 2;
}

#toggle-button div {
  width: 40px;
  height: 5px;
  background-color: gray;
  margin: 6px 0px;
}

.toggle-button-change .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.toggle-button-change .line2 {
  opacity: 0;
}

.toggle-button-change .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 768px) {
  #toggle-button {
    visibility: visible;
  }

  #toggle-button div {
    transition: 0.4s;
  }

  header .navbar-menu {
    display: none;
  }
}

/* (SAID CODE) NAV BAR RESPONSIVE */
/* ---> HEADER ENDS <--- */

/* FOOTER */
.main-footer {
	background-color:burlywood;
  padding:10px;
  margin: 30px 10px 0px 10px;
  height: 100px;
  border-radius: 3px;
}

.main-footer .copyright {
	float: left;
  margin-top:13px;
  color: var(--darkPurple);
}

.main-footer .social-links {
  margin-left:50px;
  width: 50px;
  margin-right: 200px;
  float: right;
	
}
.social-icon {
  width: 50px;
  height: 50px;
}

ul{
  display: flex;
}

ul li{ 
  columns: white;
  list-style: none;
  padding: 10px;
  float: right;
}

/* ---> MEDIA QUERIES BY PAGE AND SECTIONS <--- */
/* MEDIA QUERIES NAVBAR */
@media only screen and (max-width:770px) {
  /* footer queries */
  .main-footer .social-links {
    margin: 5px auto;
    float: right;
    width: auto;
  }
  .social-icon {
    width: 30px;
    height: 30px;
  }
}
/* ---> END MEDIA QUERIES NAVBAR */
