:root{
  --darkPurple: #231942;
  --purple: #333091;
  --lightblue: #82DDF0;
  --green: #3cd070;
  --yellow: #F8C630;
  --gray: #8e8c8c;
}

body{
  font-family: 'Space Mono', monospace;
  background-image: url("https://tinyurl.com/yypwu754");
  color: white;
}

header{
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

nav{
  display: flex;
  justify-content: space-between;
  color: white;
}

header a{
  text-decoration: none;
  color:white;
}

.navbar-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.navbar-menu li{ 
  color: white;
  list-style: none;
  padding: 10px;
  word-spacing: -4.2px;
}

.navbar-logo{
  width: 150px;
  height: auto;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.space-img{
  height: auto;
  width: 200px;
  border-radius: 5px; 
}

/* Form first section */
.form-control{
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
}

.booking-form{
  display: grid;
  background-color: var(--purple);
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 800px;
  height: auto;
}

.book-btn{
  /* display: flex; */
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 5px;
  border-style: 2px solid;
  font-family: inherit;
  margin-top: 10px;
}

.trip-options{
  background-color: var(--purple);
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  width: 30%;
  height: auto;
}

.vacation-container{
  display: flex;
  flex-wrap: wrap;
}

footer{
  padding: 15px;
}

.contact-btn{
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 5px;
  border-style: 10px solid;
  font-family: inherit;
}

/* Add media queries */