

body {
  font-family: 'Space Mono', monospace;
  background-image: url("https://images.pexels.com/photos/3279307/pexels-photo-3279307.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  color: white;
}

header{
  height: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
}

nav{
  display: flex;
  justify-content: space-between;
  color: white;
}

header a{
  text-decoration: none;
  color:white;
}

.navbar-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.navbar-menu li{
  color: white;
  list-style: none;
  padding: 10px;
  word-spacing: -4.2px;
  font-size: 1.1rem;
}

.navbar-logo{
  width: auto;
  height: 7rem;
}

.hamburger-icon{
  display: none;
}
/* Text-grids */
.button {
  background-color: grey;
  border: solid-black;
  padding: 1em 1.5em;
  font-family: 'Space Mono', monospace;
  font-size: 1em;
}

.bloc-container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(240px, 800px));
  grid-gap: 30px;
}

.bloc {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #333091;
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  animation-name:slideIn;
  animation-duration: 1s;
  animation-iteration-count:1;

}


@keyframes slideIn {
  0% {
    transform: translate(2000px,0px);
  }
  50% {
    transform: translate(2000px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.bloc:hover {
  transform: scale(1.02);
}

.bloc2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #333091;
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-style: italic;
  animation-name:slideIn;
  animation-duration: 2s;
  animation-iteration-count:1;
}

.bloc2:hover {
  transform: scale(1.02);
}

.bloc3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #333091;
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-style: italic;
  animation-name:slideIn;
  animation-duration: 3s;
  animation-iteration-count:1;
}

.bloc3:hover {
  transform: scale(1.02);
}

/* --- Intro section ---*/
.intro {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

/*---Ambassadors---*/
.button {
  align-items: center;
  background-color: grey;
  border: solid-black;
  padding: 1em 1.5em;
  font-family: 'Space Mono', monospace;
  font-size: 1em;
}


.grid-container {
  align-items: center;
  display: grid;

}
@media screen and (min-width: 600px) {
  .grid-container {
    justify-content: center;
    margin-top: 60px;
    grid-template-columns: repeat(3,500px);
    grid-gap: 150 px;

  }
}
.SecretaryGeneral {
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  height: 480px;
  width: 370px;
  height: 470px;
  animation-name:slideIn;
  animation-duration: 1s;
  animation-iteration-count:1;

}

@keyframes slideIn {
  0% {
    transform: translate(2000px,0px);
  }
  50% {
    transform: translate(2000px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


.SecretaryGeneral:hover {
  transform: scale(1.05);
}

.SecretarOFA {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 370px;
  height: 470px;
  animation-name:slideIn;
  animation-duration: 2s;
  animation-iteration-count:1;
}

.SecretarOFA:hover {
  transform: scale(1.05);
}

.SecretaryOPT {
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 370px;
  height:470px;
  animation-name:slideIn;
  animation-duration: 3s;
  animation-iteration-count:1;
}

.SecretaryOPT:hover {
  transform: scale(1.05);
}

.text{
  text-align: center;
  margin-top: 200px;
  margin-bottom: 00px;
  border-radius: 5px;
  text-decoration-color: white;
  background-color: #333091;
  opacity: 0.70;
  font-style: italic;
  animation-name:slideIn;
  animation-duration: 3s;
  animation-iteration-count:1;

}
}
