:root{
  --darkPurple: #231942;
  --purple: #333091;
  --lightblue: #82DDF0; 
  --green: #3cd070;
  --gray: #9a9696;
  font-size: 14px;
}

body{
  font-family: 'Space Mono', monospace;
  background-image: url("https://tinyurl.com/yypwu754");
  color: white;
}

header{
  height: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
}

nav{
  display: flex;
  justify-content: space-between;
  color: white;
}

header a{
  text-decoration: none;
  color:white;
}

.navbar-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.navbar-menu li{ 
  color: white;
  list-style: none;
  padding: 10px;
  word-spacing: -4.2px;
  font-size: 1.2rem;
  padding-right:  40px;
}

.navbar-logo{
  width: auto;
  height: 7rem;
}

.hamburger-icon{
  display: none;
}

/* ---> HEADER ENDS <--- */

/* ---> MAIN SECTION STARTS<--- */
.main-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* ---> FORM Section STARTS<--- */

.form-container{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 10px;
}

.form-group{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* Form first section */

.form-control{
  padding: 10px;
  border-radius: 5px;
  width: 150px;
}

.booking-form{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--purple);
  opacity: 0.85;
  border-radius: 5px;
  margin: 0.5rem;
  width: 100%;
  height: 300px;
  padding: 1.2rem;
}

.form-label{
  grid-column-start: 1;
  text-align: left;
}

.spaceCheck-btn{
  /* BOOKING PAGE SHOW OPTIONS */
  background-color: var(--gray);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.1em;
  margin-top: 1rem;
}

/* ---> FORM Section ENDS<--- */

/* ---> EXPERIENCES Section STARTS<--- */

.vacation-container{
  display: flex;
  flex-wrap: wrap;
}
.space-img{
  height: auto;
  width: 200px;
  border-radius: 5px; 
}
.book-btn{
/* BOOKING PAGE BTN */
  display: block;
  background-color: var(--gray);
  padding: 10px 20px;
  border-radius: 5px;
  border-style: 2px solid;
  font-family: inherit;
  margin-top: 1.2rem;
  font-size: 1.1rem;
  width: 10rem;
}

.trip-options{
  background-color: var(--purple);
  opacity: 0.85;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  width: 30%;
  height: auto;
}

/* ---> EXPERIENCES Section ENDS<--- */

/* ---> Planetary Highlights page <--- */

.highlights{
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-gap: 15px;
  padding: 20px 30px;
  margin-right: 30px;
}
.options-box{
  height: 650px;
  background-color: var(--purple);
  opacity: 0.85;
  padding: 0 0 10px;
  border-radius: 5px;
}

.inner{
  padding: 10px 20px;
}

.img-highlights{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 230px;
}

.btn-cards{
  /* Highlights-page button */
  display: block;
  background-color: var(--gray);
  padding: 10px 10px;
  border-radius: 5px;
  font-family: inherit;
  margin: 1.2rem auto 0 auto;
  font-size: 1.1rem;
  width: 120px;
  cursor: pointer;
}

/* FOOTER */

footer{
  padding: 15px;
}

.submit-btn{
  /* CONTACT US BUTTON */
  background-color: var(--gray);
  padding: 10px 20px;
  border-radius: 5px;
  border-style: 10px solid;
  font-family: inherit;
  font-size: 1rem;
}

/* ---> MEDIA QUERIES BY PAGE AND SECTIONS <--- */

/* MEDIA QUERIES NAVBAR */
@media only screen and (max-width:770px){
  .hamburger-icon{
    display: block;
    border-radius: 4px;
    position: absolute;
    z-index: 1000;  /* always keep ham on top of everything */
    top:20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #6b69ae;
    background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
    background-size: 100%;
  }
  
  .showClose{
    background-image:url("https://ljc-dev.github.io/testing0/ham-close.svg");
  }
  
  .navbar{
    position: absolute;
    top: 8px;
    right: 0;
    background-color: #231942;
    width: 100%;
    height: 480px;
    opacity: 0.9;
    overflow: hidden;
    transform: translateY(-100%);
  }
  
  .showNav{
    transform: translateY(0);
  }
  
  .navbar ul{
    width: 100%;
    height: 100%;
    list-style:none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar-menu li{ 
    list-style: none;
    padding: 2px;
    word-spacing: -4.2px;
    margin-bottom: 10px;
  }
  
  .navbar ul li a{
    color: white;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .navbar ul li a:hover,
   .navbar ul li a:focus{
     border-bottom: 2px solid white;
   }

   .navbar-logo{
    width: auto;
    height: 5rem;
  }
/* other HEADER queries */
  header{
    display: flex;
  }

  .navbar-menu{
    display: block;
    align-items: flex-end;
  }
}
/* END other HEADER queries */

/* ---> END MEDIA QUERIES NAVBAR */

/* MEDIA QUERIES HIGHLIGHTS-PAGE */

@media only screen and (max-width:770px){
.highlights-container{
  display: block; 
}

.intro-text{
  font-size: 1.1rem;
  text-align: center;
  padding: 0 10px;
}

.highlights{
  display: block;
  width: auto;
  justify-content: center;
  margin-right: 0;
}

.options-box{
  height: auto;
  font-size: 1.2rem;
  background-color: var(--purple);
  opacity: 0.85;
  padding: 0 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.inner{
  padding: 10px 20px;
}

.inner h3{
  text-align: center;
  font-size: 1.3em;
}

.img-highlights{
  display: block;
  width: 100%;
  height: 350px;
}

.btn-cards{
  /* Highlights-page button */
  display: block;
  background-color: var(--gray);
  padding: 10px 10px;
  border-radius: 5px;
  font-family: inherit;
  margin: 1.2rem auto 0 auto;
  font-size: 1.3rem;
  width: 120px;
  cursor: pointer;
}

}

/* END MEDIA QUERIES HIGHLIGHTS-PAGE */

/* START --->BOOKING PAGE MEDIA QUERIES */

@media only screen and (max-width:770px){
  .main-content{
    display: block;
    width: 100%;
  }

  .booking-form{
    display: block;
    background-color: var(--purple);
    opacity: 0.85;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    height: auto;
  }
  .vacation-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .trip-options{
    display: flex;
    width: 100%;
  }
}